.contact-title {
  text-align: center;
  width: 100%;
  height: 15vw;
  position: relative;

  background-image: url("../images/contactback.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  margin-top: 68.365px;
  z-index: 1;
}

.contact-details {
  text-align: center;
}
